h1 {
    color: rgb(87, 32, 32);
    font-weight: bold;
    text-align: center;
}
body {
    background-color: tan;
    text-align: center;
}
ul {
    list-style-type: square;
    list-style-position: inside;
    margin: auto;
    color: black;
}
h2 {
    color: rgb(87, 32, 32);
}
p {
    color: black;
}
h3 {
    color: palevioletred;
}